html,
body {
    margin: 0 auto;
    min-height: 100vh;
    max-width: 1920px;
}

body {
    background-color: #fdfdfd;
    font-family: $font-roboto;
    font-weight: 400;
    overflow-x: hidden;
    text-align: center;

    position: relative;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;

    @include magic-margin-reset;
}

main {
    text-align: center;
}

a {
    position: relative;
}

img {
    object-fit: cover;

    display: block;
    @include full-size;
}